@font-face {
  font-family: "Karnivore";
  src: url("../graphics/assets/fonts/Karnivore.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Karnivore";
  src: url("../graphics/assets/fonts/Karnivore-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Karnivore";
  src: url("../graphics/assets/fonts/KarnivoreBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Karnivore Digit";
  src: url("../graphics/assets/fonts/KarnivoreDigit.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Karnivore Lite";
  src: url("../graphics/assets/fonts/KarnivoreLite.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
