$lcns-light-blue: #92caff;
$lcns-blue: #5daeff;
$lcns-dark-blue: #305780;
$lcns-amber: #ffba4a;
$lcns-white: #f2f2f2;
$lcns-grey: #8f969f;
$lcns-black: #18191b;
$lcns-red: #ef5b5b;
$lcns-teal: #a9ebdd;
$lcns-purple: #440722;
